body {
    margin-left: 10px;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url('paper_fibers_@2X.png');
}

h1 {
    font-weight: bold;
}

p {
    font-size:0.75em;
    font-style: italic;
}

#instructions {
    padding: -20px 5px 5px 0px;
    vertical-align: middle;
}

table {
    margin-top: -20px;
}

td {
    height: 48px;
}

#calc {
    padding-top: 1em;
    padding-bottom: 1em;
}

.right {
    text-align: right;
}

h4 {
    font-style: italic;
}

#footnote {
    margin-top: -10px;
    font-size: 0.75em;
}

