body {
    font-family: Helvetica, Arial, sans-serif;
}

p {
    font-size:0.75em;
    font-style: italic;
}

td {
    height: 48px;
}

#calc {
    padding-top: 1em;
    padding-bottom: 1em;
}

.right {
    text-align: right;
}

h5 {
    font-style: italic;
}

#footnote {
    font-size: 0.75em;
}

