* html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

p {
    font-size:0.75em;
    font-style: italic;
}

#instructions {
    padding: 5px 5px 5px 5px;
    vertical-align: middle;
}

table {
    margin-top: -20px;
}

td {
    height: 48px;
}

#calc {
    padding-top: 1em;
    padding-bottom: 1em;
}

.right {
    text-align: right;
}

h5 {
    font-style: italic;
}

#footnote {
    margin-top: -10px;
    font-size: 0.75em;
}

